img{
    margin-top: 20px;
    border-radius: 50%;
    margin: auto 0;
    width: 150px;
    height: 155px;
    display: block;
    margin: 0 auto;
    border: 5px solid rgba(255, 255, 255, 0.336);
}

.item-perfil{
    margin-top: 20px;
}

ion-card-title{
    color: azure;
  }

ion-card{
    margin-top: 50px;
    border-radius: 3%;
    background: rgba(156, 20, 84, 0.596);
    
    ion-card-title{
        text-align: center;

    }

}

ion-icon{
    color: rgb(177, 13, 89);
}
