<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Daniela Rosas Tomé</ion-card-title>
        </ion-card-header>
        <img  class="imagen" src="./assets/img/IMG_8763.jpg">
        <ion-tabs>
    
          <ion-tab-bar slot="bottom">
           
            <ion-tab-button tab="tab2">
              <ion-icon name="close-outline"></ion-icon>
            </ion-tab-button>
  
            <ion-tab-button tab="tab2">
              <ion-icon name="heart-outline"></ion-icon>
            </ion-tab-button>
        
            <ion-tab-button tab="tab3">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-tab-button>
          </ion-tab-bar>
        
        </ion-tabs>
       
      </ion-card>
    </ion-slide>


    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Daniela Rosas Tomé</ion-card-title>
        </ion-card-header>
        <img  class="imagen" src="./assets/img/IMG_1445.jpg">
        <ion-tabs>
    
          <ion-tab-bar slot="bottom">
           
            <ion-tab-button tab="tab2">
              <ion-icon name="close-outline"></ion-icon>
            </ion-tab-button>
  
            <ion-tab-button tab="tab2">
              <ion-icon name="heart-outline"></ion-icon>
            </ion-tab-button>
        
            <ion-tab-button tab="tab3">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-tab-button>
          </ion-tab-bar>
        
        </ion-tabs>
       
      </ion-card>
    </ion-slide>


    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Daniela Rosas Tomé</ion-card-title>
        </ion-card-header>
        <img  class="imagen" src="./assets/img/IMG_9102.jpg">
        <ion-tabs>
    
          <ion-tab-bar slot="bottom">
           
            <ion-tab-button tab="tab2">
              <ion-icon name="close-outline"></ion-icon>
            </ion-tab-button>
  
            <ion-tab-button tab="tab2">
              <ion-icon name="heart-outline"></ion-icon>
            </ion-tab-button>
        
            <ion-tab-button tab="tab3">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-tab-button>
          </ion-tab-bar>
        
        </ion-tabs>
       
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Daniela Rosas Tomé</ion-card-title>
        </ion-card-header>
        <img  class="imagen" src="./assets/img/IMG_4060.jpg">
        <ion-tabs>
    
          <ion-tab-bar slot="bottom">
           
            <ion-tab-button tab="tab2">
              <ion-icon name="close-outline"></ion-icon>
            </ion-tab-button>
  
            <ion-tab-button tab="tab2">
              <ion-icon name="heart-outline"></ion-icon>
            </ion-tab-button>
        
            <ion-tab-button tab="tab3">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-tab-button>
          </ion-tab-bar>
        
        </ion-tabs>
        <ion-card-header>
         
        </ion-card-header>
       
      </ion-card>
    </ion-slide>


    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Daniela Rosas Tomé</ion-card-title>
        </ion-card-header>
        <img  class="imagen" src="./assets/img/IMG_0104n.jpg">
        
        <ion-tabs>
    
          <ion-tab-bar slot="bottom">
           
            <ion-tab-button tab="tab2">
              <ion-icon name="close-outline"></ion-icon>
            </ion-tab-button>
  
            <ion-tab-button tab="tab2">
              <ion-icon name="heart-outline"></ion-icon>
            </ion-tab-button>
        
            <ion-tab-button tab="tab3">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </ion-tab-button>
          </ion-tab-bar>
        
        </ion-tabs>
       
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>
