<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fotos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col class="uno" size="3" size-md>
      <img  class="imagen" src="./assets/img/IMG_8763.jpg">
    </ion-col>
    
    <ion-col class="uno" size="3" size-md>
      <img  class="imagen" src="./assets/img/IMG_4060.jpg">
    </ion-col>

    <ion-col class="uno" size="3" size-md>
      <img  class="imagen" src="./assets/img/IMG_9102.jpg">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="uno" size="3" size-md>
      <img  class="imagen" src="./assets/img/IMG_1445.jpg">
    </ion-col>
    
    <ion-col class="uno" size="3" size-md>
      <img  class="imagen" src="./assets/img/IMG_1316.jpg">
    </ion-col>
  </ion-row>
</ion-content>
